/.idea
/api/vendor
/api/composer.lock
/api/src/CreativeNotes/Infrastructure/Configuration/Api/config.ini
/api/src/CreativeNotes/Infrastructure/Configuration/Test/config.ini
/api/error_logs.txt
/api/.phpunit.result.cache